# Node
node_modules/

# Secrets
.env

# Python
__pycache__/
*.py[oc]
.venv/
build/
dist/
wheels/
*.egg-info


# Models (too large for git)
*.onnx
*.bin
*.litertlm

# macOS
.DS_Store
default.profraw

# IDE
.idea/
.vscode/
/NodeJsApplication/nbproject/private/
/parlor/nbproject/private/
/node/node_parl/nbproject/private/
/node/nbproject/private/
